

body{
    background-color: #ffffff;
    font-family: 0;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #0a3003,#11330ab0,#00000000), url(imagens/equipe-um-tecnico-eletrico-trabalhando-em-um-quadro-de-distribuicao-com-fusiveis.jpg);
    background-size: 1500px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

#header{
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 20px;
    font-size: 18px;
}

#header > li{
    display: flex;
    padding-right: 35px;
}

#header > li > a{
    color: white;
    text-decoration: none;
}

#header > li > a:hover{
    color: #e7d150;
    text-decoration: underline #FFD700;
}

#logo{
    margin: 0 auto 0 0;
    color: #04aa4c;
}

#section{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
}

#section > h2{
    color: #04aa4c;
    font-size: 80px;
    margin: 80px 00px 0px 0px;
}

#section > p{
    color: white;
    font-size: 30px;
}

button{
    margin-top: 10px;
}