
body{
    background-color: #ffffff;
    font-family: 0;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #0a3003,#0c2707c0,#000000b2,#000000b9), url(imagens/eletricista.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

#header{
    display: flex;
    width: 100%;
    background: linear-gradient(to right, #032406,#004606,#004606,#02940e3d);
    padding-top: px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    padding-left: 20px;
    font-size: 1.125rem;
    list-style: none;
    
}

#header > li > a{
    color: #fefffe;
    text-decoration: none;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

#header > li > a:hover{
    transform: scale(1.1);
}

.hover-underline {
  font-size: 1rem;
  color: #ffffff;
  position: relative;
  display: inline-block;
  margin-right: 35px;
}

.hover-underline::after,
.hover-underline::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right,#ffae00,#ffd000,#ffe605,#fbff11);
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease-out;
  -webkit-transition: transform 0.3s ease-out;
  -moz-transition: transform 0.3s ease-out;
  -ms-transition: transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
}

.hover-underline:hover::after,
.hover-underline:hover::before {
  transform: scaleX(1);
}


#logo{
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    color: #2EC423;
}

a.logo{
    text-decoration: none;
    font-size: 1.5rem;
    color: #2EC423;
    transition: transform 0.3s ease;
    -webkit-transition: transform 0.3s ease;
    -moz-transition: transform 0.3s ease;
    -ms-transition: transform 0.3s ease;
    -o-transition: transform 0.3s ease;
}

a.logo:hover{
    text-decoration: none;
    transform: scale(1.1);
}

#section{
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-width: 100%;
    box-sizing: border-box;
}

#sobrenos{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    max-width: 100%;
    box-sizing: border-box;
}

#section > h2{
    color: #2EC423;
    font-size: 3.5rem;
    margin-top: 70px;
    margin-block-end: 7px;
}

 #sobrenos > h2{
    color: #2EC423;
    font-size: 3.5rem;
    margin-top: 7px;
    margin-block-end: 7px;
 }

#section > p, #sobrenos > p{
    color: white;
    font-size: 1.5em;
}

button{
    width: 18rem;
    height: 2.5rem;
    margin-top: 20px;
    margin-left: 10px;
    transition: transform 0.3s ease;
    -webkit-transition: transform 0.3s ease;
    -moz-transition: transform 0.3s ease;
    -ms-transition: transform 0.3s ease;
    -o-transition: transform 0.3s ease;
}

.botao {
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #ffae00;
  border-radius: 7px;
  position: relative;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

.botao::after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #dd9000;
  transition: width 0.3s ease;
  z-index: -1;
  -webkit-transition: width 0.3s ease;
  -moz-transition: width 0.3s ease;
  -ms-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
}

.botao:hover::after {
  width: 100%;
}

.botao:hover {
  color: white;
  transform: scale(1.1);
}

